* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "montserrat", "sans-serif";
    display: flex;
    margin: 0;
    flex-direction: column;
  }
  
  .header {
    height: 7vh;
    margin: 1%;
    display: flex;
    align-items: center;
    width: 70vw;
    left: 10%;
    position: absolute;
  }
  
  .header .back-btn {
    float: left;
    font-size: 15px;
    border-radius: 5px;
    width: max-content;
    padding: 1%;
  }
  
  .header .back-btn:active {
    outline: none;
    background-color: rgb(110, 119, 132);
    color: white;
  }
  
  .header .next-btn {
    float: right;
    font-size: 15px;
    border-radius: 5px;
    width: max-content;
    padding: 1%;
  }
  
  .header .next-btn:active {
    outline: none;
    background-color: rgb(110, 119, 132);
    color: white;
  }
  
  .header input {
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .header input:focus {
    background-color: rgb(240, 243, 246);
    color: black;
  }
  
  .resume-box {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    top: 10%;
    left: 10%;
    width: 80%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  }
  
  .resume-header {
    position: absolute;
    background-color: rgb(196, 249, 244);
    width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 15vh;
  }
  
  .container {
    width: 80%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
  
  .name {
    font-size: 24px;
    font-weight: bolder;
    margin: 10px auto;
    max-height: 15vh;
  }
  
  .post-name {
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin: 10px auto;
    max-width: max-content;
    max-height: 15vh;
  }
  
  .icon-aside {
    position: relative;
    float: right;
    width: 20%;
    max-height: 15vh;
    padding-left: 0.5rem;
  }
  
  .icon-aside img {
    margin: 1rem;
    max-height: 11vh;
  }
  
  .resume-box .resume-body {
    height: 80%;
    width: 100%;
  }
  
  .resume-box .resume-body .aside-container {
    margin: 1rem;
    width: 15%;
    position: absolute;
    top: 6rem;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    background-color: rgb(252, 221, 221);
    color: black;
    padding: 0.5rem;
  }
  
  .aside-container .personal-info .info-title {
    background-color: rgb(166, 165, 165);
    font-size: 18px;
    font-weight: bold;
    /* width:max-content; */
  }
  
  .personal-info ul {
    margin: 0;
    text-align: right;
  }
  
  .personal-info ul li {
    list-style: none;
    display: block;
  }
  
  .aside-container .technical-skills .skills-title {
    background-color: rgb(166, 165, 165);
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .technical-skills ul {
    margin: 0;
    text-align: right;
  }
  
  .technical-skills ul li {
    list-style: none;
    display: block;
  }
  
  .aside-container .hobbies-list .hobbies-title {
    background-color: rgb(166, 165, 165);
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .hobbies-list ul {
    margin: 0;
    text-align: right;
  }
  
  .hobbies-list ul li {
    list-style: none;
    display: block;
  }
  
  .detailed-resume-container {
    /* margin: 2rem; */
    width: 80%;
    position: absolute;
    top: 6rem;
    float: right;
    /* display: flex; */
    flex-direction: column;
    margin-top: 4%;
    height: 100%;
    color: black;
    padding-right: 1rem;
    right: 0;
    justify-content: center;
  }
  .detailed-resume-container .heading {
    margin-bottom: 1rem;
  }
  .detailed-resume-container .heading .title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .detailed-resume-container .heading .sub-title {
    margin: 0.5rem 1rem;
    font-weight: bold;
    font-size: 16px;
  }
  .detailed-resume-container .heading .information-span {
    /* margin: 0.5rem 1rem; */
    font-weight: normal;
    font-size: 16px;
    justify-content: center;
  }
  .heading ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0px;
  }
  
  .error-container {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    top: 20%;
    left: 25%;
    width: 50%;
    height: fit-content;
    padding: 2vh;
    display: flex;
    align-items: right;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .error-container img {
    position: relative;
    /* transform: scale(1.5); */
    padding: 4rem 0 4rem 4rem;
    width: 40%;
  }
  
  .error-container .error-message {
    font-size: 21px;
    float: right;
    width: 50%;
    padding: 7rem 1rem;
  }